.wrap {
    width: 800px;
    /* padding: 52px 200px; */
}
.wrap-section {
    /* background-color: brown; */
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    
    background-position: center;

    width: 400px;
    margin: 0;
    
    
}
.nav {
    width: 400px;
    background-image: url(/image/bg-2.png);
    position: relative;
    margin: 0;
    padding: 0;
}
 ul {
    justify-content: space-around;
    display: flex;
 }
ul li:last-child {
    margin-right: 40px;
}

li {
    list-style: none;
    display: block;
    margin-top: 54px;
    font-size: 33px;
    margin-bottom: 53px;    
}
a {
    text-decoration: none;
    color: #fff;
}
input {
    /* border: none; */
    outline: none;
    background: none;
    width: 100%;
    border: 2px solid rgba(191, 185, 204, 0.54);
    color: #fff;
    margin: 7px 0 0;
    padding: 10px;
    
}
.error {
    
    color: rgb(158, 28, 28);
    font-size: 12px;
    visibility: hidden;
}
input:focus {
    border-color: #23ae92;
    background-color: lawngreen;
}
.wrap-form {
    padding: 20px;
}
