header {
    padding: 52px 220px;
    
}
.title {
    display: inline-block;
    text-transform: uppercase;
}
.nav {
    display: inline-block;
    float: right;
    text-align: center;
    
}
.nav li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    text-transform: uppercase;
    
}
.nav a {
    text-decoration: none;
    color: grey;
   
}
.nav .active-link {
    color:  green;
    padding: 1px;
}